/*************************************************************
***************************************************************
*	**Project Name: Education Management System;
*	**Client Name: LEDP-2020;
*	**Project Date: 06-02-2021;
*	**Submission Date: 09-02-2021;
*	**Developer: SAtech360;
************************************************************
************************************************************
*	/\/\Project Section:
*	--------------------
*	1.Topbar
*	2.Navbar
*	3.Slider
*	4.About
*	5.Course
*	6.Facts
*	7.Blog
*	8.TESTIMONIAL
*	9.CTA
*	10.Footer
****************************************************************/
/****************************************************************
					Base CSS Start
*****************************************************************/
body{
	padding: 0 !important;
	margin: 0 !important;
	font-family: 'Raleway', sans-serif !important;
}
ul{
	margin: 0 !important;
	padding: 0 !important;
	list-style: none !important;
}
a{
	text-decoration: none !important;
}
a:hover{
	text-decoration: none !important; 
}
/****************************************************************
					Base CSS End
*****************************************************************/
/****************************************************************
					Common CSS Start
*****************************************************************/
.f-color{
	color: #56ab2f !important;
}
.s-color{
	color: #ffffff !important;
}
.t-color{
	color: #1e1d1d !important;
}
.f-bg{
	background: #56ab2f !important;
}
.s-bg{
	background: #fff !important;
}
.t-bg{
	background: #1e1d1d !important;
}
.fw-normal{
	font-weight: 300 !important;
}
.fw-semibold{
	font-weight: 500 !important;
}
.fw-bold{
	font-weight: 700 !important;
}
.fw-extrabold{
	font-weight: 900 !important;
}
.family-one{
	font-family: 'Open Sans', sans-serif;
}
.family-two{
	font-family: 'Raleway', sans-serif;
}
.btn{
	border-radius: 0px !important;
}
.card{
	border-radius: 0px !important;
	border-color: #56ab2f !important;
}
.card-footer{
	border-radius: 0px !important;
	padding: 0px !important;
    background-color: #fff !important;
    border-top: 1px solid #56ab26 !important;
    /*border-bottom: 1px solid #56ab26 !important;*/
}
.card-img-top{
	border-radius: 0px !important;
}
.button-one{
	background: transparent !important;
	border: 1px solid #56ab26;
	color: #000;
	transition: .5s all ease-out;
}
.button-one:hover{
	background: #56ab26 !important;
	border: 1px solid #f1f1f1 !important;
	color: #f1f1f1 !important;
	transition: .5s all ease-in;
}
.button-two{
	background: #56ab26 !important;
	border: 1px solid #56ab26;
	color: #fff;
	transition: .5s all ease-out;
}
.button-two:hover{
	background: transparent !important;
	border: 1px solid #56ab26 !important;
	color: #000 !important;
	transition: .5s all ease-in;
}
.fs-0{
	font-size: 16px !important;
}
.pb_6{
	padding-bottom: 6%;
}
/****************************************************************
					Common CSS End
*****************************************************************/
/****************************************************************
					Topbar CSS Start
*****************************************************************/
.topbar{
	height: 49px;
	line-height: 49px;
}
.left-topbar li{
	margin-left: 20px;
}
.left-topbar li:first-child{
	margin-left: 0px;
}
.right-topbar li:last-child{
	margin-left: 10px;
}
.right-topbar li:first-child::after{
	content: "|";
	color: #f1f1f1;
	margin-left: 10px;
}
/****************************************************************
					Topbar CSS End
*****************************************************************/
/****************************************************************
					Navbar CSS Start
*****************************************************************/
.nav-link:focus{
	color: #56ab26 !important;
}
.navbar{
	position: sticky;
	top: 0;
	z-index: 9999;
}
/****************************************************************
					Navbar CSS End
*****************************************************************/
/****************************************************************
					Slider CSS Start
*****************************************************************/
.position-relative{
	position: relative;
}
.position-abs{
	position: absolute;
	top: 35%;
	left: 52%;
}
/****************************************************************
					Slider CSS End
*****************************************************************/
/****************************************************************
					About CSS Start
*****************************************************************/
.background{
	background: url(../img/academy.png);
	margin-left: 20%;
	height: 90%;
	margin-bottom: -5%;
}
.background img{
	height: 290px;
	margin-top: 10%;
	margin-left: -10%;
}
/****************************************************************
					About CSS End
*****************************************************************/
/****************************************************************
					Course CSS Start
*****************************************************************/
.course-card-menu li:nth-child(1){
	padding: 10px;
	padding-left: 30px;
	padding-right: 30px;
	border-right: 1px solid #56ab26;
}
.course-card-menu li:nth-child(3){
	padding: 10px;
	padding-left: 30px;
	padding-right: 30px;
	border-left: 1px solid #56ab26;
}
.course-card-menu li .btn{
	padding: 10px;
	padding-left: 30px;
	padding-right: 30px;
	background: #56ab26;
	border-right: 1px solid #56ab26;
	border-left: 1px solid #56ab26;
}
.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev{
	position: absolute;
	top: 45%;
	font-size: 35px;
	font-weight: 300;
}
.owl-carousel .owl-nav button.owl-next:hover,
.owl-carousel .owl-nav button.owl-prev:hover{
	background: transparent !important;
	color: #56ab26;
}
.owl-carousel .owl-nav button.owl-next
{
	right: -5%;
}
.owl-carousel .owl-nav button.owl-prev
{
	left: -5%;
}
/****************************************************************
					Course CSS End
*****************************************************************/
/****************************************************************
					Facts CSS Start
*****************************************************************/
.facts{
	background: url(../img/facts.png);
	background-attachment: fixed;
}
/****************************************************************
					Facts CSS End
*****************************************************************/
/****************************************************************
					Blog CSS Start
*****************************************************************/

/****************************************************************
					Blog CSS End
*****************************************************************/
/****************************************************************
					TESTIMONIAL CSS Start
*****************************************************************/

/****************************************************************
					TESTIMONIAL CSS End
*****************************************************************/
/****************************************************************
					CTA CSS Start
*****************************************************************/

/****************************************************************
					CTA CSS End
*****************************************************************/
/****************************************************************
					Footer CSS Start
*****************************************************************/

/****************************************************************
					Footer CSS End
*****************************************************************/